{% extends "outpost/body.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load qr_code %}


{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">
    <img src="{% static 'logo.svg' %}" class="logo mx-3">
    {% trans "ANV Station Configuration" %}
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-4 card text-center p-0">
      <div class="card-header">
        {% trans "Stations-ID" %}
      </div>
      <div class="card-body p-0">
        {% qr_from_text admin size="M" %}
      </div>
      <div class="card-footer">
        <code>{{ object.pk }}</code>
      </div>
    </div>
    <div class="col-8">
      {% crispy form helper %}
    </div>
  </div>
</div>
{% endblock %}
